@import './../../../common/styles/linkTask';

.taskMain{
  @extend %main;
}

.wrapperBtns{
  @extend %btnsWrapper;
}
.btnDone{
  height: 20px;
  width: 20px;
  color : azure;
}
.btnDelete{
  margin-top: 3px;
}
.wrapperBtnDone{
  background-color:rgb(140, 0, 255);
}
.taskBody{
  font-size: inherit;
  font-weight: inherit;
}